{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to the Blogging Platform</h1>
            <p class="lead fw-normal text-white-50 mb-0">Share your thoughts, ideas, and stories with the world</p>
        </div>
    </div>
</header>


<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for post in blog_posts %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!--    Post details-->
                    <div class="card-body p-4">
                        <div class="text-left">
                            <!-- Post name-->
                            <center>
                                <h5 class="fw-bolder p-2">{{ post.title }}</h5>
                            </center>
                            <!-- Post author-->
                            <h6 class="p-1">By: {{ post.author }}</h6>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'view_post' post.id %}">View Post</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
{% endblock %}